html
{
    scroll-behavior: smooth;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    html
    {
        font-size: 10px;
    }
}
.main-button
{
    color: white;
    background-color: var(--main-color);
    border: none;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    html
    {
        font-size: 12px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    html
    {
        font-size: 13px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{   
     html
    {
        font-size: 14px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    html
    {
        font-size: 16px;
    }
}



*
{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
/* start components  */
.main-heading
{
    text-align: center;
}
.main-heading h2
{
    position: relative;
    padding: 30px 0;
    font-size: 160%;
    text-transform: uppercase;
}
.main-heading h2::before
{
    position: absolute;
    content: "";
    width: 140px;
    height: 2px;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    background-color: rgb(0, 0, 0);
}
.main-heading h2::after
{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 0;
    transform: translate(-50% ,50%);
    left: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}
.main-heading p
{

    padding: 20px 0px;
    width: 500px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
body
{
    font-family: 'Open Sans', sans-serif;
}
:root
{
    --transparen-color:rgb(15 116 143 /70%);
    --main-color:#19c8fa;
    --p-section:50px;
    --layer:rgba(0, 0, 0, 0.661);
}
    /* end heading  */
ul
{
    list-style: none;
}

.container
{
    padding-left:15px ;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px)
{
    .container 
    {
        width: 1170px;
    }
}
@media (min-width: 992px)
{
    .container 
    {
        width: 970px;
    }
}
@media (min-width: 768px)
{
    .container
     {
      width: 750px;
     }
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
      overflow: hidden;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
      overflow: hidden;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
      overflow: hidden;
    }
  }

/* start header */
header
{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2; 
}

header .container
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 108px;
}
header .container::after
{
    content: "";
    position: absolute;
    width:calc(100% - 30px) !important;
    height: 1px;
    background-color: #a2a2a2a2;
    bottom: 0;
    left: 15px;
}

header .container .logo img
{
    height: 40px;
}
header nav
{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
header nav ul
{
    display: flex;
    flex-direction: row;
}

header nav ul li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding:40px  10px;
    transition: 0.1s border , 0.1s color;
}
header nav ul li .active,
header nav ul li a:hover
{
    color: var(--main-color);
    border-bottom:4px solid var(--main-color) ;
}
header .form
{
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header i[class="fa-solid fa-bars"]
{
    display: none;
}
header nav ul li a,header .form i ,header i[class="fa-solid fa-bars"]
{
    color:white;
}

header .form i
{

    padding-left:30px
}



/* responsive */

@media (max-width:768px)
{
header .container
    {
        width: 100%;
    }
header i[class="fa-solid fa-bars"]
{
display: block;
font-size: 30px;
}

header nav ul
{
flex-direction: column;
display: none;
text-align: center;
position: absolute;
left: 0%;
right:0;
padding: 10px;
top: 100%; 
margin-top: 0.3rem;
width: 100%;
}
header nav ul li
{
    padding: 0.4rem;
}
ul div
{
    display: none;
}
header i[class="fa-solid fa-bars"]:hover + ul
{
    display: flex;  
    flex-direction: column;
}
header nav ul li a
{
    padding: 0;
}
header nav ul li a:hover,header nav ul li .active
{
    border-bottom: 1px solid white;
    padding-bottom:5px ;
}
}
/* end header */











/* start landing  */
.landing
{
    height: 100vh;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay
{
    width: 100%;
    height: 100vh;
    background-color: var(--layer);
    position: relative;
}
.text
{
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparen-color);
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}
.text .content
{
    width: 70%;
    line-height: 2;
}
.overlay
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overlay i 
{
    padding: 1.2rem;
    font-size: 2.6rem;
}
.switches
{
    width: 100%;    
    position: absolute;
    bottom: 0;
}
.overlay i ,.switches
{
    color: white; 
}
.switches div
{
    justify-content: center;
    display: flex;
}
.switches div .circle 
{
    width: 1.4rem;
    height: 1.4rem;
    margin:0.4rem ;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent   ;
}

.switches div :nth-child(2)
{
    background-color: var(--main-color);
    border: none;

}
.switches div .circle:nth-child(1):hover ,.switches div .circle:nth-child(3):hover
{
    border: none;
    background-color: white   ;
}
@media screen and (max-width:768px) 
{
    .text
    {
        width: 100%;
        padding: 0.8rem;
    }
    .text .content
    {
        line-height: 1.2; 
        width: 100%;
    }
}
/* end landing  */




/* start srv */
.services 
{
    padding: var(--p-section) 0px;
}

@media (min-width: 768px)
{
.services .container-srv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 2.3rem;
    grid-row-gap: 3rem;
}}

.services .services-box
{
    display: flex;
}
.services .services-box i
{
    margin-right:2rem ;
    font-size: 2.8rem;
    padding-top: 0.8rem;
}
.services .services-box h3
{
    padding: 0.8rem 0;  
    color: var(--main-color );
}
.services .services-box p
{
    padding-top: 0.8rem  ;
    color: #777;
}


/* end services */



/* start design */
.design
{
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
    padding-top: 50px ;
    padding-bottom: 50px ;
    position: relative;
    display: flex;
}
.design .d-layer
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--layer);
    right: 0;
}
.design .phone
{
    text-align: center;
    flex: 2;
}
.design .phone img
{
transform: translateY(30%);

}
.design .design-text
{
    flex: 2;
    background-color: var(--transparen-color);
    color:white;
    z-index: 2;
    padding: var(--p-section);
    height: fit-content;
}
.design .design-text h3
{
    padding: 2rem 0;
}
.design .design-text div
{
    display: flex;
    align-items: center;
}
.design .design-text div i 
{
    padding: 1.8rem 2rem 1.8rem 0;
}


@media screen and (max-width:768px)
{
    .design .phone
    {
        display: none;
    }
}

/* end design  */

/* start portfolio */
.portfolio
{
    padding: var(--p-section) 0;
}
.portfolio ul
{
    display: flex;
    justify-content: center;
}
.portfolio ul li
{
padding: 1rem;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    padding: var(--p-section) 0;
}
.gallery .photo-gallery
{
    width: 25%;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:767px)
{
    .gallery .photo-gallery
    {
      width: 100% !important;
    }
}

@media screen and (max-width:991px)
{
    .gallery .photo-gallery
    {
        width: 50%;
    }
}

.gallery .photo-gallery img
{
    width: 100%;
    transition: 0.8s transform;
}
.gallery .photo-gallery:hover img
{
transform:  rotate(3deg) scale(1.1);
}
.gallery .photo-gallery:hover .cover-text
{
    bottom: 0px;
}
.cover-text
{
    position: absolute;
    padding:0.2rem 2rem;
    bottom: -100%;
    width: 100%;
    background-color: white;
    transition: 0.2s bottom;
}
.cover-text h6
{
    padding-top:0.2rem;
    color: #777;
    font-size: 1.3rem;
    font-weight: 100;
}
.cover-text p
{
    color:var(--main-color) ;
    padding: 0.3rem 0;
    font-size: 1.1rem;
}

.btn-More
{
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}

.btn-More button
{
    padding: 1.7rem;
    border: none;
}
/* end of gallery  */

/* start videos  */
.videos-section
{
    position: relative;
    margin: var(--p-section) 0;
}

.videos-section .layer-video
{
    background: var(--layer);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.videos-caption
{
    width: 100%;
    text-align: center;
    background-color: var(--transparen-color);
    padding: 3.4rem 0;
}
.videos-caption ,.videos-caption button
{
color: white;
}
.videos-caption h3
{
    padding: 0.6rem 0;
    font-weight: 100;
}

#videos
{
    width: 100%;
}
.videos-caption p
{
    padding: 10px 0 15px 0 ;
}
.videos-caption button
{
    padding: 1rem 2rem;
    border: none;
    background-color: black;
}



/* end  videos  */

.ABOUT-US
{
    overflow: hidden;
}
.image-about
{
    text-align: center;
    transform: translateY(30%);
}

.ABOUT-US .main-heading p {
    margin-bottom: 0px;
}
@media screen and (max-width:767px)
{
    .image-about img
    {
        width:100% ;
    }  
}

/* end of about */

.rate
{
    background: url("../images/stats.png");
    background-size: cover;
    background-repeat: no-repeat;


}
.layer-rate
{
    background-color: var(--layer);
    width: 100%;
    height: 100%;
    padding: var(--p-section) 0;
}
.stats
{
    display: flex;
    justify-content: space-between;
    background-color: var(--transparen-color);
    padding: 3.4rem;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
.rate-state i
{
background-color: black;
font-size: 140%;
padding: 10px;
margin: 30px 0;
border-radius: 50%;
}
.rate-state h4
{
    font-size: 260%;
    padding: 30px 0 ;
}
.rate-state p 
{
    font-size: 14px;
} 
@media screen and (max-width:991px)
{
    .rate-state
    {
        width: 50%;
    }
}

@media screen and (max-width:767px)
{
    .rate-state
    {
        width: 100%;
    }
    .stats
    {
        flex-direction: column;
    }
}

/* end of rate  */

/* start prograss */
.prograss
{
    padding: var(--p-section) 0;
}
.prograss .container
{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}


.text-heading
{
    text-align: center;
    font-weight: 100;
    line-height: 2;
    padding: 1.4rem 0;
}
.text-heading h3
{
    padding:1.4rem 0;
}
.text-heading p
{
    color: #777;
    font-size: 90%;
}

.prograss .text-left , .prograss .text-right

{
    width:100%;
}

/* start feednack of section left */
.feedback 
{
    display: flex;
    padding: var(--p-section) 0;

}


.feedback .image img
{
    width: 100px;
    border-radius: 50%;
    margin-right: var(--p-section);
}
.feedback .text-feedback
{
line-height: 2;
padding: 0.8re,4;
border-bottom: 1px solid rgba(119, 119, 119, 0.436)
}

.feedback .text-feedback p:last-of-type
{
    text-align: end;
    padding-top: 1.3rem;
    color:#777;
}
.choose
{
    padding:1.4rem 0 0 0 ;
    display: flex;
    justify-content: center;
}
.choose div
{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #777;
    margin-left: 0.7rem;
}
.choose div:nth-child(2)
{
    border: none;
    background-color: var(--main-color);
}
.choose div:hover:not(:nth-child(2))
{
    background-color: #006d8b33;
    border: none;
}

@media screen and (max-width:991px)
{
    .prograss .container
    {
    flex-direction: column;
    }
    
}

@media screen and (max-width:767px)
{
    .feedback 
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
}
/* end feednack of section left */



.name-skilles
{
    padding: 1.4rem 0;
    display: flex;
    justify-content: space-between;
    color: #777;
    width: 90%;

}

.name-skilles p:last-child
{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    transform: translateX(50%);
}
.name-skilles p:last-child::after
{
    content: "";
    position: absolute;
    border-top:10px solid rgb(0, 0, 0) ;
    border-left:10px solid transparent ;
    border-right:10px solid transparent ;
    border-bottom:10px solid transparent ;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
}
.w-85 ,.line-skilles:nth-child(4)::before
{
    width: 85%;
}
.w-80 ,.line-skilles:nth-child(6)::before
{
    width: 80%;
}
.w-90 ,.line-skilles:nth-child(8)::before
{
    width: 90%;
}


.line-skilles
{
    width: 100%;
    height:2rem ;
    background-color: #dedadc;
    position: relative;
}

.line-skilles::before
{
    content: "";
    width: 90%;
    height: 100%;
    position: absolute;
    background-color: #19c8fa;
}

 /* end of prograss */

 /* start of quote  */
 .quotes
 {
    margin: 50px 0;
    background-image: url("../images/quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;

 }
 .quotes .layer ,.layer
 {
width: 100%;
height: 100%;
padding: 50px;
background-color: var(--layer);;
 }
 .quotes div
 {
    text-align: center;
    color: white;
 }
 .quotes div p:first-child
 {
    padding: 1.3rem  0;
    font-size: 180%;
 }
 .quotes div p:last-child
 {
    font-size: 120%;
    padding:1.4rem ;
 }

  
 /* end of quote  */

/* start of priceing */





.pricing
{
    padding: var(--p-section) 0;
}

@media (min-width: 768px)
{
.plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap:  2rem;
    grid-row-gap: 2rem;
}}


.plan-price
{
    text-align: center;
    background-color: #fcfcfc;
}
.dt-price
{
    border-top:1px solid var(--main-color) ;
    border-bottom:1px solid var(--main-color) ;
    padding: 30px 0;
}
.dt-price p
{
    margin: 1.4rem 0;
    font-weight: bolder;
}
.price-producr
{
    margin: 0 4px;
    font-size: 1.6rem;
    font-weight: bold;
}
.features
{
    list-style-type: none;
}
.features li
{
    position: relative;
    padding:1.4rem 0;
}

.features li:not(:last-child)::before
{

    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 70%;
    background-color: var(--main-color);
    left: 15%;
}

.buy
{
    padding: 2rem 0;
    border-top:1px solid var(--main-color) ;
}
.buy button
{
    padding: 1.4rem;
    color: #594af0 ;
    border: 1px solid var(--main-color) ;
    cursor: pointer;
}
.contact-us
{
    padding: var(--p-section) 0;
    text-align: center;
}
.contact-us p 
{
    margin: 2rem 0;
}

.contact-us button
{
    padding: 1rem 2rem ;

}

/* end of priceing */

/* start of subscrip */
.subscrip
{
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.subscrip .layer
{
    padding: var(--p-section) 0;
    background-color: var(--layer);
}
.subscrip .layer .container
{
    display: flex;
    color: white;
    gap: var(--p-section);
}
@media screen and (max-width:767px) 
{
    .subscrip .layer .container
    {
        flex-direction:column ;
    }  
    .subscrip .layer .container .inputes-sub
    {
        width: 100% !important;
    }
    .sub-quotes
    {
        width: 100% !important;
    }

}
.subscrip .layer .container .inputes-sub
{
width: 50%;
display: flex;
}
.subscrip .layer .container .inputes-sub input
{
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    font-family:  Arial ,"FontAwesome";
}
.subscrip .layer .container .inputes-sub input:focus-visible 
{
    outline: none;
}


.subscrip .layer .container .inputes-sub input::placeholder
{
    color: white;
}

.subscrip .layer .container .inputes-sub button
{
    border-left: none;
    color: white;
    border: 1px solid white;
    padding: 1.4rem;
}
.sub-quotes
{
    width:50%;
}
/* end of subscrip */

/* start contact us */
.contact
{
    padding: var(--p-section) 0;
}
.contact .container
{
    display: flex;
    justify-content: space-between;

}
.inputs-contact
{
    width: 75%;
}
.contact input,.contact textarea
{
    border: 1px solid rgba(119, 119, 119, 0.566);
    width: 100%;
    margin: 1.4rem 0; 
    padding: 0.8rem;
}
input:focus-visible , textarea:focus-visible
{
    outline: none;
}


input::placeholder ,textarea::placeholder   
{
    color: #777;
    padding-left: 0.8rem;
}
.inputs-contact div:last-child
{
    display: flex;
    justify-content: end;
}
.inputs-contact button
{
    padding:0.8rem;
    border: none;
    background-color: var(--main-color);
    color: white;
}
.contact-text-right
{
    width: 25%;
    padding: 1.4rem;
    /* background-color: red; */
}

.contact-text-right .phones 
{
    height: 40%;
}
.contact-text-right  .address
{
    height: 60%;
}
.contact-text-right .phones h5 , .contact-text-right  .address h5
{
  font-size: 1.1rem;  
}
.contact-text-right .phones p , .contact-text-right  .address p
{
    margin-top: 1.4rem;
    color:#777
}

/* end of contact us  */